# Entorno virtual de Python
.venv/

# Archivos de configuración
.env
config.json

# Archivos temporales y logs
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
pruebasejmplo.py

# Carpeta de dependencias de Node.js
node_modules/

#carpetas
respuestas/
